
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');



@import url('https://fonts.cdnfonts.com/css/noto-sans-bengali');


                            

@import url('https://fonts.cdnfonts.com/css/noir-et-blanc');

@font-face{
    //font-family: 'noir-et-blanc';
    //src: url('../fonts/fonts/N_E_B.TTF') format("TTF");
	font-family: "Poppins";
    font-style: normal;
    font-weight: 400;

}

                

                


*{
    margin:0;
    box-sizing: border-box; 

    &:after, &:before{
        box-sizing: border-box;
    }
}


html,body{
    overflow-x:hidden;
}

body{
    font-family: "Poppins", sans-serif ;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
}

button,
input,
textarea,
select{
    font:inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
    overflow-wrap: break-word;
}

img,
video,
canvas,
svg{
    //max-width:100%;
}

a{
    text-decoration: none;
    color:inherit;

}

ul{
    list-style: none;
}

/*----------variables------*/
$green-color: #6cff8d;
$dark-green-color: #6cff8c7a;
$red-color: #f44336;
$blue-color: #2196f3;
$yellow-color: #ffea5c;
$darkish-blue : #060b11;
$box-shadow-blue1: rgba(31, 38, 135, 0.27);
$box-shadow-blue2: rgba(31, 38, 135, 0.67);


/*---------prdefined section-----------*/
.section{
    padding: 1rem;
    overflow: hidden;
    min-height: 100vh;
    padding-top: 5rem;
    @media (min-width: 650px){
        padding : 5rem;
    }
    &__header{
        &-title{
            font-weight: 400;
            font-size: 17px;
            color: #666;

        }
        &-subtitle{
            font-size: 27px;
            font-weight: 700;
        }
    }


}


//button 
.containerr {
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
    z-index:5;
    position:absolute;
    left: -22%;
    bottom: 17%;
}
.containerr .btn {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.containerr .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.containerr .btn:hover a {
	letter-spacing: 3px;
}
.containerr .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.containerr .btn:hover a::before {
	transform: skewX(45deg) translate(200px);
}
.containerr .btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.containerr .btn:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.containerr .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.containerr .btn:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.containerr .btn:nth-child(1)::before, /*chnage 1*/
.containerr .btn:nth-child(1)::after {
	background: 0xff0000;
	box-shadow: 0 0 5px 0xff0000, 0 0 15px 0xff0000, 0 0 30px 0xff0000,
		0 0 60px 0xff0000;
}


/* For tablets (screens between 600px and 768px wide) */
@media (max-width: 768px) and (min-width: 600px) {
    .containerr {
      width: 90%;
      
    }
    .containerr .btn {
      width: 200px;
      height: 45px;
    }
    .containerr .btn a {
      font-size: 14px;
    }
  }

  @media (max-width: 752px) {
    .containerr {
      width: 90%;
      
    }
    .containerr .btn {
      width: 150px;
      height: 40px;
    }
    .containerr .btn a {
      font-size: 12px;
    }
  }
  
  /* For mobile devices (screens less than 600px wide) */
  @media (max-width: 600px) {
    .containerr {
      width: 90%;
    }
    .containerr .btn {
      width: 150px;
      height: 40px;
    }
    .containerr .btn a {
      font-size: 12px;
    }
  }
  
